.header-expanded-filter {
    background-color: #EBEBEB;
    // display: flex;
    // align-items: flex-start;

    & > :first-child,
    & > :nth-child(7)  {
        padding-left: 18px;
        align-items: flex-start;
    }

    
    >div {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-inline-start: 10px;
        padding-inline-end: 5px;
    }

    >div>p,
    >div>label {
        color: #222222;
    }
}

.expanded-filter-stay {
    border-bottom: solid 1px #222222;
    margin-bottom: 10px;
}

.expanded-search-btn {
    border-radius: 24px;
    background-image: radial-gradient(circle at top left, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%);

    >div {
        display: flex;
        height: 48px;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        width: 100px;

        >img {
            height: 12px;
            width: 12px;
        }
    }
}

.filter-input {
    background-color: #EBEBEB;
    border: none;
}

::placeholder {
    // text-align: center;
}

/* or, for legacy browsers */

//      ::-webkit-input-placeholder {
//         text-align: center;
//      }

//      :-moz-placeholder { 
//         text-align: center;  
//      }

//      ::-moz-placeholder { 
//         text-align: center;  
//      }

//      :-ms-input-placeholder {  
//         text-align: center; 
//      }