.reserve {
    height: fit-content;
    width: 36%;
    background-color: #fff;
    margin-inline-start: 4%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;


    .reserve-info {
        border: 1px solid rgb(176, 176, 176);
        border-radius: 8px;

        .pick-dates {
            display: flex;

            .dates-first-layer {
                width: 100%;

                .dates-second-layer {
                    flex: 1 1 0%;
                    position: relative;

                    .reserve-dates {
                        position: relative;
                        display: flex;
                        width: 100%;
                        margin: 0px;
                        border: none transparent;
                        color: rgb(176, 176, 176);
                        background-color: transparent;
                        border-radius: 0px;
                        box-shadow: none;
                        cursor: pointer;
                        padding: 0px;
                        text-align: left;

                        .check-out {
                            border-left: 1px solid rgb(176, 176, 176);
                        }

                        .check-in,
                        .check-out {
                            position: relative;
                            flex: 1 1 0%;
                            padding: 0px;
                            overflow: hidden;


                            .txt-reserve {
                                position: absolute;
                                top: 12px;
                                left: 12px;
                                right: 12px;
                                margin: 0px;
                                padding: 0px;
                                pointer-events: none;
                                font-size: 10px;
                                line-height: 12px;
                                color: rgb(34, 34, 34);
                                text-transform: uppercase;
                                font-weight: 800;
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .date-reserve {
                                min-height: 56px;
                                width: 100%;
                                border: none;
                                outline: none;
                                margin: 0px;
                                padding: 26px 12px 10px;
                                background-color: transparent;
                                color: inherit;
                                font-family: inherit;
                                font-size: 14px;
                                font-weight: inherit;
                                line-height: 18px;
                                appearance: none;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                        }
                    }

                }
            }
        }

    }


    .guests-details {
        background-color: inherit;
        color: black;
        width: 100%;
    }

    .guest-info {
        display: flex;

        .guest-first-layer {
            position: relative;
            width: 100%;

            .guest-details-layer {
                flex: 1 1 0%;
                position: relative;

                .guest-final-details {
                    position: relative;
                    display: flex;
                    width: 100%;
                    margin: 0px;
                    border: none transparent;
                    color: rgb(34, 34, 34);
                    background-color: transparent;
                    border-radius: 0px;
                    box-shadow: none;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 400;
                    outline: 0px;

                    .guests-details {
                        position: relative;
                        flex: 1 1 auto;
                        padding: 0px;
                        width: 100%;
                        overflow: hidden;

                        .title {
                            position: absolute;
                            top: 12px;
                            left: 12px;
                            margin: 0px;
                            padding: 0px;
                            pointer-events: none;
                            font-size: 10px;
                            line-height: 12px;
                            color: rgb(34, 34, 34);
                            text-transform: uppercase;
                            font-weight: 800;
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .saddf {
                            min-height: 56px;
                            width: 100%;
                            border: none;
                            outline: none;
                            margin: 0px;
                            padding: 26px 36px 10px 12px;
                            background-color: transparent;
                            color: inherit;
                            font-family: inherit;
                            font-size: inherit;
                            font-weight: inherit;
                            line-height: inherit;
                            appearance: none;
                            cursor: pointer;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .guest-description {
                                font-size: 14px;
                                line-height: 18px;
                                position: absolute;
                            }
                        }


                    }
                }
            }
        }

        border-top: 1px solid rgb(176, 176, 176);

        .select-guests {
            background: rgb(255, 255, 255);
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px;
            margin-bottom: 16px;
            min-width: 280px;
            padding: 16px;
            position: absolute;
            text-align: left;
            width: 50%;
            z-index: 999;
            right: 0px;

            .pick-guest-account {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
            }
        }


    }

}