.stay-preview {

    >img {
        grid-area: img;
        object-fit: cover;
        aspect-ratio: 1 / 1;
        border-radius: 1em;
    }

    >h4,
    p {
        margin: 0;
        color: $clr2;

        span {
            color: $clr7;
            font-weight: bold;
        }
    }

    .black-font {
        color: $clr7;
    }

    >div>.price {
        margin-top: 8px;
    }
}