.stay-preview {

<<<<<<< HEAD
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    cursor: pointer;
=======
    // display: grid;
    // grid-template-rows: 2fr 1fr;
>>>>>>> 3e69fae230a774594ae6a1f9447348f25490b481

    >div>img {
        border-radius: 5%;
        aspect-ratio: 1 / 1;
    }

    >h4,
    p {
        margin: 0;
    }
}