.guests-selection{
    flex-direction: column;
    min-width: 25em;
    position: absolute;
    top: 10em;
    background-color: white;

    >*{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 11em;
        min-width: 1px;
        padding: 2em;

        >:first-child{
            
        }

        >div{
            >*{
                margin: 0;
            }
            >h3{
                color: black;
            }
        }
    }
}