* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: montserrat;
    // line-height: 1;
    color: $clr7;
}

body {
    font-size: rem(15px);
    margin: 0;
    margin: auto;
    font-family: cereal_BK;
}


h4{
    font-family:cereal_XBD ;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



a {
    text-decoration: none;
    color: inherit;
}


