// Colors
$clr1: #ce2e6c;
$clr2: #717171;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #484848;


// Breakpoints
<<<<<<< HEAD
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1600px;
=======
$mobile-breakpoint: 550px;
$narrow-breakpoint: 950px;
$middle-breakpoint: 1228px;
$normal-breakpoint: 1606px;
>>>>>>> 3e69fae230a774594ae6a1f9447348f25490b481
