// Colors
$clr1: #FF5A5F;
$clr2: #4f3a65; 
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #484848;


// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 950px;
$middle-breakpoint: 1228px;
$normal-breakpoint: 1606px;